<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__ROOT__/Public/admin/lib/html5.js"></script>
<script type="text/javascript" src="__ROOT__/Public/admin/lib/respond.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/admin/lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/admin/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/admin/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>后台数据管理</title>
</head>
<body class="pos-r">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 用户管理 
		<span class="c-gray en">&gt;</span> 用户列表 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="page-container">
<!-- 		<form action="__MODULE__/Menu/insertMenu" method="post" id="myform">
			<div class="text-c">
				<select name="Level">
					<option value="0">一级栏目</option>
					<volist name='Menus' id='Menus'>
						<option value="{$Menus.Mid}">{$Menus.Name}</option>
					</volist>
				</select>
				<input type="text" name="Name" id="Name" placeholder=" 栏目名称" style="width:250px" class="input-text">
				<button name="" id="button" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 添加栏目</button>
			</div>
		</form> -->
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th width="40"><input name="" type="checkbox" value=""></th>
						<th width="40">ID</th>
						<th width="100">管理员名称</th>
						<th width="100">权限</th>
						<th width="100">注册时间</th>
						<!-- <th width="150">最后登陆时间</th> -->
						<th width="100">状态</th>
						<th width="250">操作</th>
					</tr>
				</thead>
				<tbody>
					<if condition="$_SESSION['admin'][0]['Level'] eq 2">
					<volist name='list' id='admin_list'>
						<tr class="text-c va-m">
							<td><input name="" type="checkbox" value=""></td>
							<td>{$admin_list.Aid}</td>
							<td>{$admin_list.UserName}</td>
							<td class="text-l">
								<if condition="$admin_list.Level eq 1">
								二级管理员
								<elseif condition="$admin_list.Level eq 2"/>
								超级管理员
								<else/>
								一级管理员
								</if>
							</td>
							<td>{$admin_list.AddTime|date="Y-m-d H:i:s",###}</td>
							<!-- <td>{$admin_list.LoginTime|date="Y-m-d H:i:s",###}</td> -->
							<td class="td-status">
								<if condition="$admin_list.Status eq 1">
									<span class="label label-success radius">启用</span>
								<else />
									<span class="label label-defaunt radius">禁用</span>
								</if>
							</td>
							<td class="td-manage">

								<if condition="$admin_list.Status eq 1">
									<a style="text-decoration:none" onClick="Menu_stop(this,{$admin_list.Aid})" href="javascript:void(0);" title="不显示"><i class="Hui-iconfont">&#xe6de; 禁用</i></a> 
								<else />
									<a style="text-decoration:none" onClick="Menu_start(this,{$admin_list.Aid})" href="javascript:void(0);" title="显示"><i class="Hui-iconfont">&#xe603; 启用</i></a>
								</if>
								
								<a style="text-decoration:none" data-title="{$Menu.Name}" onclick="Hui_admin_tab(this)"  class="ml-5" href="__MODULE__/Admin/editAdmin/Aid/{$admin_list.Aid}" title="编辑"><i class="Hui-iconfont">&#xe6df; 编辑</i></a> 
								
									<a style="text-decoration:none" class="ml-5" onClick="Menu_del(this,{$admin_list.Aid})" href="javascript:void(0);" title="删除"><i class="Hui-iconfont">&#xe6e2; 删除</i></a>
								
								
								
							</td>
						</tr>
					</volist>
					<elseif condition="$_SESSION['admin'][0]['Level'] eq 3" />
						<volist name='list' id='admin_list'>
							<if condition="$admin_list.Level neq 2">
								<tr class="text-c va-m">
									<td><input name="" type="checkbox" value=""></td>
									<td>{$admin_list.Aid}</td>
									<td>{$admin_list.UserName}</td>
									<td><if condition="$admin_list.Level eq 1">
										二级管理员
										</if>
										<if condition="$admin_list.Level eq 3">
										一级管理员
										</if></td>
									<td>{$admin_list.AddTime|date="Y-m-d H:i:s",###}</td>
									
									<td class="td-status">
										<if condition="$admin_list.Status eq 1">
											<span class="label label-success radius">启用</span>
										<else />
											<span class="label label-defaunt radius">禁用</span>
										</if>
									</td>
									<td class="td-manage">

										<if condition="$admin_list.Status eq 1">
											<a style="text-decoration:none" onClick="Menu_stop(this,{$admin_list.Aid})" href="javascript:void(0);" title="不显示"><i class="Hui-iconfont">&#xe6de; 禁用</i></a> 
										<else />
											<a style="text-decoration:none" onClick="Menu_start(this,{$admin_list.Aid})" href="javascript:void(0);" title="显示"><i class="Hui-iconfont">&#xe603; 启用</i></a>
										</if>
										
										<a style="text-decoration:none" data-title="{$Menu.Name}" onclick="Hui_admin_tab(this)"  class="ml-5" href="__MODULE__/Admin/editAdmin/Aid/{$admin_list.Aid}" title="编辑"><i class="Hui-iconfont">&#xe6df; 编辑</i></a> 
										
											<a style="text-decoration:none" class="ml-5" onClick="Menu_del(this,{$admin_list.Aid})" href="javascript:void(0);" title="删除"><i class="Hui-iconfont">&#xe6e2; 删除</i></a>
										
										
									</td>
								</tr>
							</if>
						</volist>
					<else />
						<tr><td colspan="7"> 您没有查看权限</td></tr>
					</if>
				</tbody>
			</table>
		</div>
	</div>
<script type="text/javascript" src="__ROOT__/Public/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/admin/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__ROOT__/Public/admin/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/admin/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/admin/static/h-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">


$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  {"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
	]
});
/*添加*/
function Menu_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*查看*/
function Menu_show(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*不显示*/
function Menu_stop(obj,id){
	layer.confirm('确认要禁用吗？',function(index){
		$.ajax({
			url: "__MODULE__/Admin/setAdminStatus",
			type: 'post',
			dataType: 'json',
			data: {Aid:id},
			success:function(){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="Menu_start(this,id)" href="javascript:void(0);" title="显示"><i class="Hui-iconfont">&#xe603;</i>启用</a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">禁用</span>');
				$(obj).remove();
				layer.msg('已禁用!',{icon: 5,time:1000});
		
			}
		})
	
	});
}

/*显示*/
function Menu_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			url: "__MODULE__/Admin/setAdminStatus",
			type: 'post',
			dataType: 'json',
			data: {Aid:id},
			success:function(){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="Menu_stop(this,id)" href="javascript:void(0);" title="不显示"><i class="Hui-iconfont">&#xe6de;</i>禁用</a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">启用</span>');
				$(obj).remove();
				layer.msg('已启用!',{icon: 6,time:1000});
			}
		})
		
	});
}

/*编辑*/
function Menu_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*删除*/
function Menu_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			url: "__MODULE__/Admin/delAdmin",
			type: 'post',
			dataType: 'json',
			data: {Aid:id},
			success:function(){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			}
		})
		
	});
}

$("#button").click(function() {
		if(!$("#Name").val()){
			alert('请输入栏目名称');
			$("#Name").select();
			$("#Name").focus();
			return false;
		}else{
			$("#myform").submit();
		}
		
	});
</script>
</body>
</html>